@import "tailwindcss";

@theme {
  --color-brand-primary: #8b5cf6;
  --color-brand-primary-hover: #7c3aed;
  --color-brand-dark: #1e1b4b;
  --color-brand-dark-hover: #2e1065;
  --color-brand-accent: #4f46e5;

  --shadow-brand: 0 10px 15px -3px rgba(139, 92, 246, 0.2);
}


.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

:root {
  min-width: 320px;
  font-size: 16px;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-width: 320px;
}

button,
input,
select,
textarea,
a {
  min-height: 44px;
}
